legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
resolution-mode=highest
prefer-frozen-lockfile=false
node-linker=hoisted
use-node-version=18.20.3
ignore-pnpmfile=true
engine-strict=false
shamefully-hoist=true 